---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=590&card[exp_month]=11&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_smqSAdXDwsYFNXLs8zoMQCnh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_177zKjGhmKibFl0dpL9Uejwx",
          "object": "token",
          "card": {
            "id": "card_177zKjGhmKibFl0dMNPoNEDL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2017,
            "fingerprint": "h5cFwRvOoKvurUNc",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "76.216.241.216",
          "created": 1447727797,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 17 Nov 2015 02:36:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=An+invalid+charge.&source=tok_177zKjGhmKibFl0dpL9Uejwx
    headers:
      Authorization:
      - Bearer sk_test_smqSAdXDwsYFNXLs8zoMQCnh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_177zKjGhmKibFl0dOW6IbWDo"
          }
        }
  recorded_at: Tue, 17 Nov 2015 02:36:38 GMT
recorded_with: VCR 3.0.0
