- render 'shared/header'

%article.video_category
  %header
    %h3 TV Shows
  .videos.row
    - @videos.each do |video|
      .video.col-sm-2
        = link_to video_path(video) do
          %img(src="#{video.small_cover_url}")
