---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=MyFlix+sign+up+charge+for+bob%40example.com&source=tok_177LMsGhmKibFl0dhUuCmnZ7
    headers:
      Authorization:
      - Bearer sk_test_smqSAdXDwsYFNXLs8zoMQCnh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_177LMsGhmKibFl0dI4FZ6mEw",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_177LMsGhmKibFl0dD8iuJYIH",
          "captured": true,
          "created": 1447574170,
          "currency": "usd",
          "customer": null,
          "description": "MyFlix sign up charge for bob@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_177LMsGhmKibFl0dI4FZ6mEw/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_177LMrGhmKibFl0d3j3xAefl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "euRbtQnf6hIeXuTz",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sun, 15 Nov 2015 07:56:10 GMT
recorded_with: VCR 3.0.0
