---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17QXM4GhmKibFl0dtBaJ8DfL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_smqSAdXDwsYFNXLs8zoMQCnh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17QXM4GhmKibFl0dtBaJ8DfL",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1452148480,
          "data": {
            "object": {
              "id": "ch_17QXM4GhmKibFl0d9NNyS4Gy",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1452148480,
              "currency": "usd",
              "customer": "cus_7fViHVnGDZiBBf",
              "description": "Failed payment",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17QXM4GhmKibFl0d9NNyS4Gy/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17QXL6GhmKibFl0dg15DjW00",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7fViHVnGDZiBBf",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "YcENpADoCG958Ywi",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": "MyFlix bill",
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_7ft8ZG4SRigpw7",
          "type": "charge.failed"
        }
  recorded_at: Fri, 08 Jan 2016 02:08:07 GMT
recorded_with: VCR 3.0.0
