---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=590&card[exp_month]=11&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_smqSAdXDwsYFNXLs8zoMQCnh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17GM0iGhmKibFl0dMvLaQGBr",
          "object": "token",
          "card": {
            "id": "card_17GM0iGhmKibFl0dRadO16TF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2017,
            "fingerprint": "euRbtQnf6hIeXuTz",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "76.216.241.216",
          "created": 1449721592,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 10 Dec 2015 04:26:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=corbin%40towne.com&plan=myflix_plan&source=tok_17GM0iGhmKibFl0dMvLaQGBr
    headers:
      Authorization:
      - Bearer sk_test_smqSAdXDwsYFNXLs8zoMQCnh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7VMk5eElxB0EF4",
          "object": "customer",
          "account_balance": 0,
          "created": 1449721592,
          "currency": "usd",
          "default_source": "card_17GM0iGhmKibFl0dRadO16TF",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "corbin@towne.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17GM0iGhmKibFl0dRadO16TF",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7VMk5eElxB0EF4",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "euRbtQnf6hIeXuTz",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7VMk5eElxB0EF4/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7VMkxsuJbFDWAT",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1452313592,
                "current_period_start": 1449721592,
                "customer": "cus_7VMk5eElxB0EF4",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix_plan",
                  "object": "plan",
                  "amount": 999,
                  "created": 1449544675,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFlix Monthly Plan",
                  "statement_descriptor": "MyFlix Subscription",
                  "trial_period_days": 30
                },
                "quantity": 1,
                "start": 1449721592,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1452313592,
                "trial_start": 1449721592
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7VMk5eElxB0EF4/subscriptions"
          }
        }
  recorded_at: Thu, 10 Dec 2015 04:26:33 GMT
recorded_with: VCR 3.0.0
